/EjemploClase1/nbproject/private/
/EjemploClase1/build/
/Ejemplo2Clase1/nbproject/private/
/Ejemplo2Clase1/build/
/Ejemplo3Clase1/nbproject/private/
/Ejemplo3Clase1/build/
/Pruebas/nbproject/private/
/Pruebas/build/
/Ejemplo1Calse23/nbproject/private/
/Ejemplo1Calse23/build/
/Ejemplo1Clase2/nbproject/private/
/Ejemplo1Clase2/build/
/Ejemplo2Clase2/nbproject/private/
/Ejemplo2Clase2/build/
/Ejemplo1Clase3/nbproject/private/
/Ejemplo1Clase3/build/
/Ejemplo1Clase4/nbproject/private/
/Ejemplo1Clase4/build/
/EjemploClase5/nbproject/private/
/EjemploClase5/build/
/Ejemplo2Clase5/nbproject/private/
/Ejemplo2Clase5/build/
